/* Home.css */
main {
    padding: 2em;
    max-width: 800px;
    margin: auto;
  }
  
  section {
    margin-bottom: 2em;
  }
  

  section h2,
  section h3 {
    color: var(--primary-color);
    margin-bottom: 0.5em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    line-height: 1.6;
  }
  
  h4 {
    margin-bottom: 0.5em;
    color: var(--secondary-color);
  }

  .slideshow-container {
    width: 100%;
    position: relative;
    text-align: center;
  }
  
  .slideshow-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  button.btn-secondary {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0.5rem 1rem;
    color: white;
  }
  
  button.btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  