/* Home.css */
main {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 2em;
}

section h2,
section h3 {
  color: var(--primary-color);
  margin-bottom: 0.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.6;
}

h4 {
  margin-bottom: 0.5em;
  color: var(--secondary-color);
}

.slideshow-container {
  width: 100%;
  position: relative;
  text-align: center;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}

button.btn-secondary {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.5rem 1rem;
  color: white;
}

button.btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.service-times {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text inside */
}
.list-group {
  width: auto; /* Adjust width to content or set a max-width */
}
.list-group-item {
  text-align: center; /* Center list text */
}
